@import "../base/base";

.skills-layout {
    background: no-repeat url('../../img/dude-no-background.png');
    background-position: left 10% bottom 5%;
}


.skills {
    height: 100vh;
    text-align: center;
    position: relative;
    color: #fff;

    @include mobile {
        height: 100%;
    }

    &>h2 {
        @include page-name;
        color: black;
        left: 1%;
    }

    @include mobile {
        background: $mian-color;
        background-image: $background-pattern;
    }

    .skills-backdrop {
        @include mobile {
            display: none;
        }
    }


    .backdrop-skills {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: -10%;
        height: 100%;
    }
}

.skills-layout {

    display: flex;
    height: 100%;

    @include mobile {
        flex-direction: column;
    }


    .skills-left {
        width: 60%;
        display: flex;
        height: 100%;

        @include mobile {
            width: 100%;
        }

        .skills_logos {
            width: 90%;
            align-self: flex-end;
            margin-bottom: 3em;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            @include mobile {
                margin-top: 10%;
                width: 100%;
                margin: 10% auto;
            }
        }

    }


}

.skills-img {
    height: 3em;
}


.skills-right {
    width: 40%;
    height: 100%;
    @include vertical-Align;
    justify-content: center;
    position: relative;
    z-index: 1;
    text-align: center;

    @include mobile {
        order: -1;
        width: 100%;
    }

    p {
        width: 50%;
        margin: auto;
        padding: 2em 0;
    }

    .social-media {
        @include social-media-div;
        margin: auto;
    }

}